[submodule "src/.vim/bundle/vim-pathogen"]
	path = src.stow/vim/.vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen
	ignore = dirty
[submodule "src/.vim/bundle/supertab"]
	path = src.stow/vim/.vim/bundle/supertab
	url = http://github.com/ervandew/supertab
	ignore = dirty
[submodule "src/.vim/bundle/CSApprox"]
	path = src.stow/vim/.vim/bundle/CSApprox
	url = http://github.com/vim-scripts/CSApprox
	ignore = dirty
[submodule "src/.vim/bundle/MultipleSearch"]
	path = src.stow/vim/.vim/bundle/MultipleSearch
	url = http://github.com/vim-scripts/MultipleSearch
	ignore = dirty
[submodule "src/.vim/bundle/xmledit"]
	path = src.stow/vim/.vim/bundle/xmledit
	url = http://github.com/sukima/xmledit
	ignore = dirty
[submodule "src/.vim/bundle/SQLUtilities"]
	path = src.stow/vim/.vim/bundle/SQLUtilities
	url = http://github.com/vim-scripts/SQLUtilities
	ignore = dirty
[submodule "src/.vim/bundle/Align"]
	path = src.stow/vim/.vim/bundle/Align
	url = http://github.com/vim-scripts/Align
	ignore = dirty
[submodule "src/.vim/bundle/nerdtree"]
	path = src.stow/vim/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
	ignore = dirty
[submodule "src/.vim/bundle/tomorrow-theme"]
	path = src.stow/vim/.vim/bundle/tomorrow-theme
	url = http://github.com/chriskempson/tomorrow-theme
	ignore = dirty
[submodule "src/.vim/bundle/vim-powerline"]
	path = src.stow/vim/.vim/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline
	ignore = dirty
[submodule "src/.vim/bundle/minibufexpl.vim"]
	path = src.stow/vim/.vim/bundle/minibufexpl.vim
	url = http://github.com/fholgado/minibufexpl.vim
	ignore = dirty
[submodule "src/.vim/bundle/bufkill.vim"]
	path = src.stow/vim/.vim/bundle/bufkill.vim
	url = http://github.com//vim-scripts/bufkill.vim
	ignore = dirty
[submodule "src/.vim/bundle/taglist.vim"]
	path = src.stow/vim/.vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim
	ignore = dirty
[submodule "src/.vim/bundle/CursorLineCurrentWindow"]
	path = src.stow/vim/.vim/bundle/CursorLineCurrentWindow
	url = http://github.com/vim-scripts/CursorLineCurrentWindow
	ignore = dirty
[submodule "src/.vim/bundle/Command-T"]
	path = src.stow/vim/.vim/bundle/Command-T
	url = http://github.com/wincent/Command-T
	ignore = dirty
[submodule "src/.vim/bundle/ctrlp.vim"]
	path = src.stow/vim/.vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim
	ignore = dirty
[submodule "src/.vim/bundle/Conque-Shell"]
	path = src/.vim/bundle/Conque-Shell
	url = http://github.com/heterotopian/Conque-Shell
	ignore = dirty
[submodule "src/.vim/bundle/vim-colors-solarized"]
	path = src.stow/vim/.vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
	ignore = dirty
[submodule "src/.fonts/ubuntu-mono-powerline"]
	path = src/.fonts/ubuntu-mono-powerline
	url = http://github.com/scotu/ubuntu-mono-powerline
	ignore = dirty
[submodule "src/.fonts/ubuntu-mono-powerline-ttf"]
	path = src/.fonts/ubuntu-mono-powerline-ttf
	url = http://github.com/pdf/ubuntu-mono-powerline-ttf
	ignore = dirty
[submodule "src/.vim/bundle/vim-bundle-mako"]
	path = src.stow/vim/.vim/bundle/vim-bundle-mako
	url = http://github.com/sophacles/vim-bundle-mako
	ignore = dirty
[submodule "src/.vim/bundle/VimClojure"]
	path = src.stow/vim/.vim/bundle/VimClojure
	url = http://github.com/vim-scripts/VimClojure
	ignore = dirty
[submodule "src/.vim/bundle/vim-surround"]
	path = src.stow/vim/.vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround
	ignore = dirty
[submodule "src/color/gnome-terminal-colors-solariezed"]
	path = src/color/gnome-terminal-colors-solariezed
	url = http://github.com/sigurdga/gnome-terminal-colors-solarized
	ignore = dirty
[submodule "src/.vim/bundle/vim-hy"]
	path = src.stow/vim/.vim/bundle/vim-hy
	url = http://github.com/hylang/vim-hy
	ignore = dirty
[submodule "src/.vim/bundle/vim-css-color"]
	path = src.stow/vim/.vim/bundle/vim-css-color
	url = http://github.com/skammer/vim-css-color
	ignore = dirty
[submodule "src/.vim/bundle/vim-less"]
	path = src.stow/vim/.vim/bundle/vim-less
	url = http://github.com/groenewege/vim-less
	ignore = dirty
[submodule "src/.vim/bundle/vim-github-colorscheme"]
	path = src.stow/vim/.vim/bundle/vim-github-colorscheme
	url = http://github.com/endel/vim-github-colorscheme
	ignore = dirty
[submodule "src/.vim/bundle/flatui.vim"]
	path = src.stow/vim/.vim/bundle/flatui.vim
	url = http://github.com/john2x/flatui.vim
	ignore = dirty
[submodule "src/.fonts/Menlo-for-Powerline"]
	path = src/.fonts/Menlo-for-Powerline
	url = http://github.com/abertsch/Menlo-for-Powerline
	ignore = dirty
[submodule "src/color/one-gnome-terminal"]
	path = src/color/one-gnome-terminal
	url = https://github.com/denysdovhan/one-gnome-terminal
	ignore = dirty
[submodule "src/.vim/bundle/Dockerfile.vim"]
	path = src.stow/vim/.vim/bundle/Dockerfile.vim
	url = http://github.com/ekalinin/Dockerfile.vim
	ignore = dirty
[submodule "src/.vim/bundle/vim-yaml"]
	path = src.stow/vim/.vim/bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml
	ignore = dirty
[submodule "src/.vim/bundle/puppet-syntax-vim"]
	path = src.stow/vim/.vim/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim
	ignore = dirty
[submodule "src/.vim/bundle/vim-misc"]
	path = src.stow/vim/.vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc
	ignore = dirty
[submodule "src/.vim/bundle/vim-session"]
	path = src.stow/vim/.vim/bundle/vim-session
	url = git@github.com:xolox/vim-session
	ignore = dirty
[submodule "FiraCode"]
	path = FiraCode
	url = git@github.com:tonsky/FiraCode
	ignore = dirty
[submodule "src/.fonts/FiraMono"]
	path = src/.fonts/FiraMono
	url = git@github.com:tonsky/FiraCode
	ignore = dirty
