[user]
	name = CS
	email = cs@wahdis.com
[diff]
	tool = gvimdiff
[core]
	filemode = false
	excludesfile = ~/.gitignore_global
[url "https://"]
	insteadOf = git://
[log]
	abbrevCommit = true
[format]
	pretty = oneline
[difftool]
	prompt = false
[merge]
	tool = gvimdiff
