[user]
	name = CS
	email = cs@wahdis.com
[core]
	filemode = false
	excludesfile = ~/.gitignore_global
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[merge]
	tool = gvimdiff
[url "https://"]
	insteadOf = git://
[log]
	abbrevCommit = true
[format]
	pretty = oneline
[pull]
	rebase = true
[alias]
	br = branch -vva
	graph = log --graph
	pullall = !git pull && git submodule update --init --recursive
[submodule]
	recurse = true
