[user]
	name = CS
	email = cs@wahdis.com
[core]
	filemode = false
	excludesfile = ~/.gitignore
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[merge]
	tool = gvimdiff
[url "https://"]
	insteadOf = git://
[log]
	abbrevCommit = true
[format]
	pretty = oneline
[pull]
	rebase = true
[alias]
	br = branch -vva
	graph = log --graph
	pullall = !git pull && git submodule update --init --recursive
	cloneall = "!f() { git clone --recurse-submodules \"$@\"; }; f"
[submodule]
	recurse = true
[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/gitlab/"]
	path = ~/.gitconfig.gitlab
