"*":
  "atom-beautify":
    general: {}
  "atom-ide-ui":
    use: {}
  "atom-material-ui": {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        "service"
      ]
    disabledPackages: [
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "*.swp"
      "*.swm"
      "*.swn"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "github-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    lineHeight: 1.3
    scrollPastEnd: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "e06395c2-a317-8715-f5e4-25213dd4934f"
  "file-icons":
    tabPaneIcon: false
  "git-diff": {}
  "git-plus":
    commits: {}
    general: {}
  "one-dark-ui":
    fontSize: 12
  "one-light-ui":
    fontSize: 12
    hideDockButtons: true
  "seti-icons": {}
  "spell-check":
    excludedScopes: [
      "text.restructuredtext"
    ]
  tabs:
    enableMruTabSwitching: false
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "vim-mode": {}
  "vim-mode-plus":
    keymapYToYankToLastCharacterOfLine: true
  welcome:
    showOnStartup: false
  whitespace: {}
".basic.html.text":
  editor:
    tabLength: 2
".makefile.source":
  editor:
    showIndentGuide: false
".restructuredtext.text":
  editor:
    softWrap: true
".source.yaml":
  editor:
    tabLength: 2
